@charset "UTF-8";


@media screen and (min-width: 769px) {
    /* PC style */

.header-top{
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
}

.titleBox{
    text-align: center;
}

.mainTitle{
    font-size: 30px;
    text-align: center;
}

.subTitle{
    font-size: 14px;
    text-align: center;
}

.tab-area{
    display: flex;
}

.tab{
    font-size: 12px;
    margin: 0 10px;
}

.tab:first-child{
    font-weight: bold;
}

.tab.active{
    border-bottom: 2px solid #000;
}

.header-middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #E6E6E6;
}

.panel-area{
    display: flex;
}

.panel{
    display: none;
    text-align: center;
}

.panel-list{
    display: flex;
}

.panel-list li{
    font-size: 12px;
    margin: 0 10px;
}

.panel.active{
    display: block;
}

.header-item{
    display: flex;
}

.country,.language,.user{
    margin-right: 30px;
}

.bag{
    margin-right: 10px;
}



}

@media screen and (max-width: 768px) {
    /* SP style */
.header-top{
    padding: 10px;
}

.menu-btn {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    cursor: pointer;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 2px;
    width: 30px;
    background-color: #000;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

.titleBox{
    text-align: center;
}

.mainTitle{
    font-size: 20px;
    text-align: center;
}

.subTitle{
    font-size: 10px;
    text-align: center;
}

.tab-area{
    display: none;
}

.panel-area{
    display: none;
}

.country,.language,.user{
    display: none;
}



}