@charset "UTF-8";


@media screen and (min-width: 769px) {
    /* PC style */

.header-top{
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
}

.titleBox{
    text-align: center;
}

.mainTitle{
    font-size: 30px;
    text-align: center;
}

.subTitle{
    font-size: 14px;
    text-align: center;
}

.tab-area{
    display: flex;
}

.tab{
    font-size: 12px;
    margin: 0 10px;
}

.tab:first-child{
    font-weight: bold;
}

.tab.active{
    border-bottom: 2px solid #000;
}

.header-middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #E6E6E6;
}

.panel-area{
    display: flex;
}

.panel{
    display: none;
    text-align: center;
}

.panel-list{
    display: flex;
}

.panel-list li{
    font-size: 12px;
    margin: 0 10px;
}

.panel.active{
    display: block;
}

.header-item{
    display: flex;
}

}

@media screen and (max-width: 768px) {
    /* SP style */
.header-top{
    padding: 10px;
}


.titleBox{
    text-align: center;
}

.mainTitle{
    font-size: 20px;
    text-align: center;
}

.subTitle{
    font-size: 10px;
    text-align: center;
}

.tab-area{
    display: none;
}

.panel-area{
    display: none;
}

}