@charset "UTF-8";


@media screen and (min-width: 769px) {
    /* PC style */

.service{
    display: flex;
    justify-content: space-around;
    margin: 200px 0;
}

.serviceImage{
    position: absolute;
    top: 20px;
    left: 50%;
    width: 60%;
}

.boutique{
    position: relative;
    width: 30%;
}

.boutiqueTitle{
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 50px;
}

.cafe{
    position: relative;
    width: 30%;
}

.cafeTitle{
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 50px;
}
.musique{
    position: relative;
    width: 30%;
}

.musiqueTitle{
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 50px;
}

}

@media screen and (max-width: 768px) {
    /* SP style */

.service{
    display: flex;
    justify-content: space-around;
    margin: 200px 0;
}

.boutique{
    position: relative;
    width: 15%;
}

.boutiqueTitle{
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 20px;
}

.cafe{
    position: relative;
    width: 15%;
}

.cafeTitle{
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 20px;
}
.musique{
    position: relative;
    width: 15%;
}

.musiqueTitle{
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 20px;
}

}