@charset "UTF-8";


@media screen and (min-width: 769px) {
    /* PC style */

.wrapper{
    background-color: #fff;
}

a {
    text-decoration: none;
    color : inherit;
}

body.active {
    height: 100%;
    overflow: hidden;
}


}

@media screen and (max-width: 768px) {
    /* SP style */



.wrapper{
    background-color: #fff;
}

a {
    text-decoration: none;
    color : inherit;
}

body.active {
    height: 100%;
    overflow: hidden;
}



}