@charset "UTF-8";


@media screen and (min-width: 769px) {
    /* PC style */

.header-sp{
    display: none;
}

.header-pc{
    position: relative;
}

.header-top{
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
    background-color: #fff;
    z-index: 3;
}

.titleBox{
    text-align: center;
}

.titleBox a{
    text-decoration: none;
    color: #000;
}

.mainTitle{
    font-size: 30px;
    text-align: center;
}

.subTitle{
    font-size: 14px;
    text-align: center;
}

.navigation{
    height: 80px;
    line-height: 80px;
}

.tab-area{
    display: flex;
    height: 100%;
}

.tab a{
    text-decoration: none;
    color: #000;
}

.tab{
    font-size: 12px;
    margin: 0 10px;
    cursor: pointer;
}

.tab:first-child{
    font-weight: bold;
}

.tab.active{
    border-bottom: 2px solid #000;
}

.header-middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #E6E6E6;
    padding-top: 80px;
}

.panel-area{
    display: flex;
    height: 70px;
}

.panel{
    display: none;
    height: 100%;
    text-align: center;
}

.panel a{
    text-decoration: none;
    color: #000;
}

.panel.active{
    display: block;
}

.panel-list{
    display: flex;
    height: 100%;
}

.panel-list li{
    font-size: 12px;
    line-height: 70px;
    margin: 0 10px;
}

.panel-addClass{
    border-bottom: 2px solid #000;
}

.header-item{
    display: flex;
}

.country,.user{
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}

.country-arrow.active{
    transform:scale(-1,1) rotate(180deg);
}

.language{
    position: relative;
}

.language-btn{
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}

.language-btn p{
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
}

.language-arrow.active{
    transform:scale(-1,1) rotate(180deg);
}

.language-menu{
    display: none;
}

.language-menu.active{
    display: block;
    position: absolute;
    top: 40px;
    left: -25px;
    padding: 10px 25px;
    background-color: #fff;
    box-shadow: 0 0 4px gray;
    z-index: 999;
}

.language-menu li{
    font: 16px;
    padding-left: 15px;
}

.language-menu li:first-child{
    font-weight: bold;
    border-left: 1px solid #000;
}

.bag{
    margin-right: 10px;
    cursor: pointer;
}


}

@media screen and (max-width: 768px) {
    /* SP style */

.header-pc{
    display: none;
}

.header-sp{
    position: relative;
}

.header-top{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #E6E6E6;
    z-index: 3;
    box-sizing: border-box;
}

.hamburger-menu-btn {
    display: flex;
    align-items: center;
    height: 60px;
    width: 30px;
    z-index: 90;
    cursor: pointer;
}

.hamburger-menu-btn span,
.hamburger-menu-btn span:before,
.hamburger-menu-btn span:after {
    content: '';
    display: block;
    height: 2px;
    width: 30px;
    background-color: #000;
    position: absolute;
}

.hamburger-menu-btn span:before {
    bottom: 8px;
}

.hamburger-menu-btn span:after {
    top: 8px;
}

.mainTitle{
    font-size: 20px;
    text-align: center;
}

.subTitle{
    font-size: 10px;
    text-align: center;
}

.tab-area{
    display: none;
}

.panel-area{
    display: none;
}

.country,.language,.user{
    display: none;
}

.header-bottom{
    position: absolute;
    top: 70px;
    width: 100%;
    height: 50px;
    background-color: #fff;
}




}