@charset "UTF-8";


@media screen and (min-width: 769px) {
    /* PC style */

.search_container{
    position: relative;
    border-bottom: 2px solid #000;
    height: 80px;
    width: 500px;
    overflow: hidden;
}
.search_container input[type="text"]{
    border: none;
    line-height: 80px;
    font-size: 12px;
}
.search_container input[type="text"]:focus {
    outline : none;
}

.fa{
    position: absolute;
    right: 10px;
    top: 50%;
}

}

@media screen and (max-width: 768px) {
    /* SP style */

.search_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
    overflow: hidden;
}

.search_container input[type="text"]{
    border: none;
    height: 2.0em;
    font-size: 16px;
}

.search_container input[type="text"]:focus {
    outline : none;
}

}