@charset "UTF-8";


@media screen and (min-width: 769px) {
    /* PC style */

.search_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
    height: 80px;
    width: 500px;
    overflow: hidden;
}
.search_container input[type="text"]{
    width: 100%;
    border: none;
    line-height: 80px;
    font-size: 12px;
}
.search_container input[type="text"]:focus {
    outline : none;
}

.fa-search{
    transform: translate(-50%);
    cursor: pointer;
}

.fa-search.active{
    display: none;
}

.bottom-close-x{
    display: none;
}

.bottom-close-x.active{
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.bottom-close-x::before,.bottom-close-x::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;/*棒の太さ*/
    height: 20px;/*棒の高さ ✕の大きさ的な？*/
    background: #000;
}

.bottom-close-x::before{
    transform: translate(-50%,-50%) rotate(45deg);
}

.bottom-close-x::after{
    transform: translate(-50%,-50%) rotate(-45deg);
}

}

@media screen and (max-width: 768px) {
    /* SP style */

.search_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
    margin: 0 10px;
    overflow: hidden;
}

.search_container input[type="text"]{
    width: 100%;
    border: none;
    height: 2.0em;
    font-size: 16px;
}

.search_container input[type="text"]:focus {
    outline : none;
}

.fa-search{
    cursor: pointer;
    margin-right: 20px;
}

.fa-search.active{
    display: none;
}

.bottom-close-x{
    display: none;
}

.bottom-close-x.active{
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.bottom-close-x::before,.bottom-close-x::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;/*棒の太さ*/
    height: 20px;/*棒の高さ ✕の大きさ的な？*/
    background: #000;
}

.bottom-close-x::before{
    transform: translate(-50%,-50%) rotate(45deg);
}

.bottom-close-x::after{
    transform: translate(-50%,-50%) rotate(-45deg);
}

}