@charset "UTF-8";


@media screen and (min-width: 769px) {
    /* PC style */

.selection{
}

.selection-top{
    padding: 100px 0 70px;
}

.title{
    text-align: center;
}
/*
.arrow-wrap{
    display: flex;
    position: absolute;
    right: 10px;
}

.arrow-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}

.arrow-left {
    position: relative;
    margin-right: 10px;
}
*/
/* ボタン左の中身（三角を擬似要素で表現） */
.arrow-left:before {
content: "";
width: 10px;
height: 10px;
border-top: 2px solid #000;
border-left: 2px solid #000;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-30%, -50%)rotate(-45deg);
}
/* 右 */
.arrow-right {
position: relative
}
/* ボタン右の中身（三角を擬似要素で表現） */
.arrow-right:before {
content: "";
width: 10px;
height: 10px;
border-top: 2px solid #000;
border-left: 2px solid #000;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-70%, -50%)rotate(135deg);
}

.shopItemList{
    display: flex;
    margin:0 auto;
}

.shopItem{
    width: 24.8%;
    margin-left: 3px;
    cursor: pointer;
}

.shopItem:first-child{
    margin-left: 0;
}

.shopItem:last-child{
    display: none;
}

.selection-item-slider{
    position:relative;
	z-index: 1;
}

.shopItemImage{
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.shopItemImage01{
    background-image: url(../../../assets/images/selection01.jpg);
}

.shopItemImage01:hover{
    background-image: url(../../../assets/images/selection02.jpg);
}

.shopItemImage02{
    background-image: url(../../../assets/images/selection02.jpg);
}

.shopItemImage03{
    background-image: url(../../../assets/images/selection03.jpg);
}

.shopItem:first-child{
    margin-left: 0;
}

.slick-prev,
.slick-next{
    display: none;
}

.slick-prev.active,
.slick-next.active{
    display: block;
    position: absolute;/*絶対配置にする*/
	z-index: 3;
    top: 42%;
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #ccc;/*矢印の色*/
    border-right: 2px solid #ccc;/*矢印の色*/
    height: 10px;
    width: 10px;
}

.slick-prev.active{/*戻る矢印の位置と形状*/
    display: block;
    left:2.5%;
    transform: rotate(-135deg);
}

.slick-next.active{/*次へ矢印の位置と形状*/
    display: block;
    right:2.5%;
    transform: rotate(45deg);
}

.size{
    display: none;
}

.size.active{
    display: block;
    position: absolute;
    display: flex;
    top: 81%;
    width: 24%;
    z-index: 3;
    overflow: auto;
}

.size li{
    font-size: 14px;
    color: #ccc;
    padding: 0 16px;
    border-right: 1px solid #fff;
}

.size::-webkit-scrollbar{
    display: none;
}

.itemName{
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

.yen{
    font-size: 14px;
    margin: 0 10px 10px;
}


}

@media screen and (max-width: 768px) {
    /* SP style */


.shopItemList{
    display: flex;
    height: 600px;
}

.shopItem{
    width: 24% !important;
    height: 350px;
    margin-right: 5px;
    cursor: pointer;
}

.selection-item-slider{
    height: 100%;
    background-image: url(../../../assets/images/selection01.jpg);
    background-size: cover;
}

.selection{
    padding-top: 100px;
    overflow: hidden;
}

.title{
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;
}

.itemName{
    font-size: 14px;
    padding: 10px 0;
}

.yen{
    font-size: 14px;
}

.arrow-wrap{
    display: none;
}

.size{
    display: none;
}

}