@charset "UTF-8";


@media screen and (min-width: 769px) {
    /* PC style */

.service{
    display: flex;
    justify-content: space-around;
    padding: 150px 0;
    height: 30rem;
}

.serviceImage{
    width: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
}

.boutique{
    position: relative;
    width: 30%;
}

.backGroundColor-blue{
    background-color: #1f5180;
    transform: rotate(-10deg);
}

.boutiqueTitle{
    font-size: 50px;
    text-align: center;
}

.cafe{
    width: 30%;
    position: relative;
}

.cafeTitle{
    font-size: 50px;
    text-align: center;
}

.backGroundColor-green{
    background-color: #2e8181;
    transform: rotate(10deg);
}

.musique{
    position: relative;
    width: 30%;
}

.musiqueTitle{
    font-size: 50px;
    text-align: center;
}

.backGroundColor-red{
    background-color: #fc5050;
    transform: rotate(-10deg);
}

.font-color-change{
    color: #fff;
}


}

@media screen and (max-width: 768px) {
    /* SP style */

.service{
    display: flex;
    justify-content: space-around;
    margin: 200px 0;
}

.boutique{
    position: relative;
    width: 15%;
    background-color: #1f5180;
}

.boutiqueTitle{
    font-size: 20px;
    text-align: center;
}

.cafe{
    position: relative;
    width: 15%;
    background-color: #2e8181;
}

.cafeTitle{
    font-size: 20px;
    text-align: center;
}
.musique{
    position: relative;
    width: 15%;
    background-color: #fc5050;
}

.musiqueTitle{
    font-size: 20px;
    text-align: center;
}

}