@charset "UTF-8";


@media screen and (min-width: 769px) {
    /* PC style */

.service{
    padding: 100px 50px;
    height: 35rem;
    display: flex;
    justify-content: space-around;
}

.boutique,.cafe,.musique{
    width: 100%;
    height: 100%;
}

.boutique-item,.cafe-item,.musique-item{
    position: relative;
    width: 30%;
}

.serviceImage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}

.boutiqueTitle{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-20%);
    font-size: 4vw;
    z-index: 2;
}

.cafeTitle{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-20%);
    font-size: 4vw;
    z-index: 2;
}

.musiqueTitle{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-20%);
    font-size: 4vw;
    z-index: 2;
}

.backGroundColor-green{
    background-color: #2e8181;
    transform: rotate(10deg);
    transition: all 0.3s;
}

.backGroundColor-blue{
    background-color: #1f5180;
    transform: rotate(-10deg);
    transition: all 0.3s;
}

.backGroundColor-red{
    background-color: #fc5050;
    transform: rotate(-10deg);
    transition: all 0.3s;
}

.font-color-change{
    color: #fff;
}


}

@media screen and (max-width: 768px) {
    /* SP style */


.slick-list{
    padding: 50px 10% 50px 10% !important;/*前後のスライドチラ見せ*/
}

.slick-slide{
}

.service{
    display: flex;
    padding: 100px 0;
}

.serviceImage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
}

.boutique-item{
    position: relative;
    margin-right: 30px;
}

.boutique{
    width: 100%;
    height: 450px;
    background-color: #1f5180;
}

.boutique.active{
    transform: rotate(10deg);
    transition: all 0.3s;
}

.boutiqueTitle{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%);
    font-size: 3rem;
    text-align: center;
    z-index: 2;
}

.cafe-item{
    position: relative;
    margin-right: 30px;
}

.cafe{
    width: 100%;
    height: 450px;
    background-color: #2e8181;
}

.cafe.active{
    transform: rotate(10deg);
    transition: all 0.3s;
}

.cafeTitle{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%);
    font-size: 3rem;
    text-align: center;
    z-index: 2;
}

.musique-item{
    position: relative;
    margin-right: 30px;
}

.musique{
    width: 100%;
    height: 450px;
    background-color: #fc5050;
}

.musique.active{
    transform: rotate(10deg);
    transition: all 0.3s;
}

.musiqueTitle{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%);
    font-size: 3rem;
    text-align: center;
    z-index: 2;
}

}